.addTask>.formData{
    display:flex;
    padding: 1rem 2rem;


}
.addTask{ 
    margin: 3rem auto;
    width:30rem;
    padding:5px;
    border: 1px solid lightgrey;

}
@media only screen and (max-width: 600px) {

    .addTask{
        width:250px !important;
    }
    
}